@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.font-IBM {
  font-family: 'IBM Plex Sans', sans-serif;
}

.font-Poppins {
  font-family: 'Poppins', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

.font-firaCode {
  font-family: 'Fira Code', monospace;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes navLinkFadeBack {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navFade {
  animation: navLinkFade 0.8s ease forwards 0.5s;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.line1,
line2,
line3 {
  transition: all 0.4s ease;
}

.post-content h1 {
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  padding-left: 10px;
  margin: 25px 0 17px 0;
  border-left-width: 5px;
  --tw-border-opacity: 1;
  border-color: rgba(96, 165, 250, var(--tw-border-opacity));
}

.post-content a {
  font-weight: 600;
  text-decoration: underline;
}
